.error-message {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-primary-bg);
    padding: var(--space-xs);
    border-radius: var(--border-radius);
  }

  /*
  .error-message {
    background-color: var(--color-primary-bg);
    color: var(--color-primary);
    padding: var(--space-xs) var(--space-s);
    border-radius: var(--border-radius);
    text-align: center;
    margin-bottom: var(--space-s);
    font-size: var(--font-size-s);
  }
  */
  