.error-message {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius);
  border: solid 1px var(--color-primary); // Subtle border to emphasize
  font-size: var(--font-size-s);
  text-align: center;
  margin-bottom: var(--space-s); // Spacing below the error message for separation
}
