/* _session.scss */

.session {
  max-width: 400px;
  margin: 0 auto;
  padding: var(--space-l) var(--space-m);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);

  &__header {
    font-size: var(--font-size-xxl);
    color: var(--color-primary);
    margin-bottom: var(--space-l);
    text-align: center;
  }

  &__form {
    // No additional styles needed here; form styles are defined under the `.form` block
  }

  &__footer {
    text-align: center;
    margin-top: var(--space-m);

    &__link {
      color: var(--color-primary);
      font-size: var(--font-size-s);
      text-decoration: underline;

      &:hover {
        color: var(--color-primary-rotate);
      }
    }
  }
}
