.session {
  max-width: 400px;
  margin: 0 auto;
  padding: var(--space-l) var(--space-m);
  background-color: var(--color-white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-large);

  &__header {
    font-size: var(--font-size-xxl);
    color: var(--color-primary);
    margin-bottom: var(--space-l);
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-m); // Adds space between fields for readability
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
  }

  &__input {
    width: 100%;
    padding: var(--space-xxs) var(--space-s);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    font-size: var(--font-size-m);
    outline: none;
    transition: box-shadow 0.3s ease;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: var(--space-m);
  }

  &__footer {
    text-align: center;
    margin-top: var(--space-m);
  }

  &__link {
    color: var(--color-primary);
    font-size: var(--font-size-s);
    text-decoration: underline;

    &:hover {
      color: var(--color-primary-rotate);
    }
  }
}
